<div class="row application" ng-controller="appCtrl as appVm">

    <div ui-view="app.sidebar"></div>

    <div ui-view="app.projectMenu"></div>

    <div ui-view="app.list"></div>


    <div class="timer-control col-2-5" ng-show="appVm.timersShow">
        <div class="timer-control__header">
            <p class="timer-control__text">
                Timers
                <span>
                    <button type="button" class="close-menu icon" ng-click="appVm.timersShow = !appVm.timersShow">
                        <i class="material-icons md-36 close-menu">close</i>
                    </button>
                </span>
            </p>
        </div>
    </div>
</div>